html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    padding: 0;
    background-color: rgb(41, 43, 53);
    font-family: Lato, Times, serif;
    position: relative;
    min-height: 100vh;

}
nav {
    background-color: rgb(55, 72, 95);
}
nav .tech-container {
    padding: 35px 10px;
}
nav .tech-container img {
    height: 55px;
}
nav .nav-container {
    display: flex;
    justify-content: space-between;
}
nav h3 {
    color: rgb(255, 255, 255);
    letter-spacing: 2px;
    margin: 0 30px 0 0;
}
nav .logo {
    height: 125px;
    margin: 0 10px 0 0;
}
nav .hamburger-list-container .nav-link {
    display: block;
}
nav .hamburger {
    display: none;
}
nav .menu-container {
    display: flex;
    align-items: center;
}
nav .nav-link {
    color: rgb(216, 218, 221);
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 6px;
}
nav .nav-link:hover {
    background-color: rgb(57, 67, 83);
}
.hidden {
    display: none !important;
}
@media (max-width: 1000px) {
    nav h3 {
        display: none;
    }
}
@media (max-width: 600px) {
    nav .hamburger {
        display: block;
        background-color: transparent;
        border: none;
        color: rgb(255, 255, 255);
        font-size: 30px;
    }
    .menu-container .nav-links {
        display: none;
    }
    .headshot {
        width: 270px;
    }
    .hamburger-list-container {
        display: block;
    }
}
.socials {
    position: fixed;
    top: 35%;
    right: 0;
    background-color: rgb(250, 100, 175);
    width: 55px;
    padding: 10px 5px;
    border-radius: 20px 0 0 20px;
}
.socials img {
    width: 100%;
}
@media (max-width: 600px) {
    .socials {
        display: none;
    }
    table #project {
        min-width: 0;
    }
    table #title {
        min-width: 0;
    }
    .contact-section {
        padding: 50px 10px;
    }
    nav .tech-container img {
        height: 35px;
    }
    nav .tech-container {
        padding: 50px 10px;
    }
    nav .logo {
        height: 100px;
        margin: 0 10px 0 0;
    }
    table {
        max-width: 800px;
    }
    table td {
        padding: 5 !important;
    }
    table #project {
        min-width: 75px !important;
    }
    table #title {
        min-width: 130px !important;
    }

}
.main-section {
    display: flex;
    height: 100vh;
    align-items: center;
}
section {
    color: rgb(216, 216, 216);
}
section a {
    text-decoration: none;
    color: rgb(216, 216, 216);
}
section h3 {
    font-size: 30px;
    margin: 0;
}
h1 {
    font-size: 70px;
    margin: 0;
}
p {
    font-size: 18px;
}
.headshot {
    width: 335px;
    border-radius: 50%;
    padding: 40px;
    margin-left: 10vw;
}
.introduction {
    width: 40vw;
    padding: 30px;
    border-left: 4px solid rgb(255, 255, 255);
}
@media screen and (max-width: 1000px) {
    .main-section {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        height: auto;
    }
    .introduction {
        width: 90vw;
        border-left: none;
        text-align: center;
    }
    .headshot {
        margin-left: 0;
        max-width: 270px;
    }
    .about-headshot {
        padding: 40px 0;
    }
    .headshot-about {
        max-width: 270px;
    }
    
}
.arrow {
    border: solid rgb(255, 255, 255);
    border-width: 0 8px 8px 0;
    padding: 15px;
    display: inline-block;
    transform: rotate(45deg);
}
.bounce {
    padding: 50px 0 0 50px;
    animation: bounce 2s infinite;
}
@keyframes bounce {
    0%,
    20%,
    50%,
    80%
    100% {
        transform: translateY(0px);
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        traansform: translateY(-15px);
    }
}
.work-section {
    background-color: rgb(59, 62, 77);
    padding: 80px 50px;
}
.work-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.work-card {
    width: 25%;
    background-color: rgb(29, 31, 38);
    margin: 10px;
    padding: 0 50px 50px 50px;
}
@media screen and (max-width: 1000px) {
    .work-card {
        width: 100%;
    }
    .bounce {
        padding: 50px 0 0 0;
    }
    .headshot-about {
        padding: 40px 40px 0 40px;
    }
}
.html {
    border-top: solid 8px rgb(242, 128, 87);
}
.css {
    border-top: solid 8px rgb(88, 130, 203);
}
.js {
    border-top: solid 8px rgb(3, 114, 114);
}
.react {
    border-top: solid 8px rgb(239, 255, 66);
}
.about-section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
@media screen and (max-width: 1000px) {
    .about-section {
        display: flex;
        flex-direction: column;
    }
    section .about-container {
        padding: 100px 0;
        width: 80%;
      
    }
    section .quote-container {
        padding: 100px 0;
        width: 80%;
        
    }
    .contact-section {
        padding-top: 250px;
        padding-bottom: 250px;
        padding-left: 10px;
        padding-right: 10px;
       
    }
}
.quote-container {
    width: 40%;
    padding: 40px;
}
.about-container {
    width: 30%;
    padding: 80px 0;
}
.quote {
    font-size: 40px;
    font-style: italic;
}
.quote-container p {
    float: right;
}
footer {
    background-color: rgb(3, 114, 144);
    display: flex;
    justify-content: left;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
    position: absolute;
    bottom: 0;
    width: 100%;
}
footer a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-align: center;
}
.projects {
    padding: 80px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
table {
    max-width: 800px;
    margin-top: 50px;
    margin-bottom: 100px;
}
table td {
    padding: 15px;
}
table #project {
    min-width: 110px;
}
table #title {
    min-width: 200px;
}
.headshot-about {
    width: 335px;
    border-radius: 50%;
    padding: 40px;

}
.about-headshot {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(59, 62, 77);
    padding: 80px;
  }
  .contact-section {
    text-align: center;
    padding-top: 250px;
    padding-bottom: 250px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .contact-section ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }